/* Обнуление */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: var(--header);
}
body {
  font-family: 'Montserrat', system-ui, sans-serif;
  background-color: var(--lite);
  color: var(--primary);
  font-size: var(--main-txt);
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}
h1 {
  font-family: 'America-XIX', system-ui, sans-serif;
  font-size: var(--h2);
  color: var(--accent);
}
h2 {
  font-family: 'America-XIX', system-ui, sans-serif;
  font-size: var(--h2);
  color: var(--lite);
}
h3 {
  font-weight: 400;
  font-size: var(--small-txt);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
input, button, textarea, select, a {
  font: inherit;
  color: inherit;
}
.u-inline-grid {
  display: inline-grid !important;
}
ul, ol {
  list-style: none;
}

/* Шрифты */
@font-face {
  font-family: 'Montserrat'; /* Любое имя для твоего шрифта */
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat'; /* Любое имя для твоего шрифта */
  src: url('/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'America-XIX'; /* Любое имя для твоего шрифта */
  src: url('/fonts/America_XIX.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Переменные */
:root {
  /* Цвета */
  --black: #0C0C0C;
  --primary: #754F9B;       
  --primary-hvr: rgb(117 79 155 / 0.3);
  --accent: #436F46;
  --accent-lite: #B9E089;
  --lite: #FFFBFB;
  --subdued: #DDDDDD;

  /* Размер шрифта */
  --h2: clamp(2.4rem, 4vw, 3.6rem);  /* 24->36 */
  --main-txt: 1.4rem;  /* 14->20 */
  --card-ttl: 1.4rem;  /* 14->18 */
  --small-txt: 1.2rem;  /* 12->16 */
  --tiny-txt: 1.2rem;  /* 12->12 */

  /* Отступы между*/
  --gap-v-block: 24px; /* 24->40 */
  --gap-v-group: 16px; /* 16->24 */

  --gap-item: 8px;  /* 8->16 */
  --gap-card: 16px;  /* 16->24 */
  --gap-small: 8px;  /* 8->8 */
  --gap-card-txt: 4px; /* 4->4 */

  /* Отступы внутрь*/
  --padd-v-header: 8px; /* 8->16 */
  --padd-h-header: 16px; /* 16->16 */

  --padd-v-block: 24px; /* 24->40 */
  --padd-h-block: 16px;  /* 16->32 */

  --padd-point: 8px; /* 8->12 */
  --padd-top-point: 16px; /* 8->24 */

  --padd-v-btn: 8px; /* 8->12 */
  --padd-h-btn: 16px;  /* 16->24 */

  --padd-v-small-btn: 4px; /* 4->8 */
  --padd-h-small-btn: 8px; /* 8->16 */

  --padd-card: 8px; /* 8->16 */

  --radius-btn: 30px;
  --radius-card: 10px; /* 10->20 */
  --radius-section: 30px;  /* 30->40 */

  /* Прочее */
  --header: 60px; /* 60->80 */
  --gap-header: 32px; /* 32->48 */
}

/*Стили для тегов*/
button, a {
  padding-inline: var(--padd-h-btn);
  padding-block: var(--padd-v-btn);
  color: var(--primary);
  font-size: var(--main-txt);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-btn);
  cursor: pointer;
  gap: var(--gap-small);
  background: none;
  border: 2px solid var(--primary);
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
}

/*Стили для классов*/
.page-wrapper{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-v-block);
  margin-bottom: var(--gap-v-block);
}
.section {
  padding-block: var(--padd-v-block);
  padding-inline: var(--padd-h-block);
  border: 2px solid var(--primary);
  border-radius: var(--radius-section);
  display: flex;
  flex-direction: column;
  gap: var(--gap-v-group);
}
.bold {
  font-weight: 600;
}

/*Шапка*/
.header__group {
  max-height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header {
  background: var(--primary);
  padding-block: var(--padd-v-header);
  padding-inline: var(--padd-h-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: var(--radius-section);
  border-bottom-right-radius: var(--radius-section);
  z-index: 10;
  height: var(--header);
}
.header__shadow {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: calc(var(--header) + 4px);
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  pointer-events: none;
  z-index: -10;
}
.header__button{
  border: 2px solid var(--lite);
  color: var(--lite);
  font-size: var(--small-txt);
}
.header__button:hover {
  background: color-mix(in srgb, var(--black) 20%, transparent);
}
.header__button:active {
  background: color-mix(in srgb, var(--black) 40%, transparent);
}
.header__logo {
  position: absolute;
  left: 50%;
  top: 18px;
  transform: translate(-50%, 0);
  z-index: 15;
  width: 300px;
  height: 107px;
}
.header__avito-logo {
  width: 71px;
  height: 18px;
  position: relative;
}

/*главный блок*/
.hero {
  display: flex;
  flex-wrap: wrap;
  max-height: 100vh;
  max-height: 100dvh;
  min-height: 100vh;
  min-height: 100dvh;
  overflow: hidden;

  gap: var(--gap-card);
  min-height: 100vh;
  min-height: 100dvh;
  margin-top: calc(-1 * var(--header));
  align-items: stretch;
  align-content: stretch;
}
.hero-info {
  flex: 7 1 0%;
  min-width: 360px;
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: var(--radius-section);
  border-bottom-right-radius: var(--radius-section);
  border: 2px solid var(--primary);
  background: color-mix(in srgb, var(--accent-lite) 20%, transparent);
  gap: var(--gap-v-group);
  padding-top: calc(var(--header) + var(--gap-header));
  padding-inline: var(--padd-h-block);
  padding-bottom: var(--padd-v-block);

}
.hero-info__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-item);

}
.hero-info__top {
  display: flex;
  flex-direction: column;
  gap: var(--gap-item);

}
.hero-info__points {
  margin-top: var(--gap-item);
  display: flex;
  width: max-content;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--gap-item);

}
.hero-info__point {
  flex: 1 1 0%;
  position: relative;
  background: var(--accent);
  padding: var(--padd-point);
  padding-top: var(--padd-top-point);
  color: var(--lite);
  border-radius: var(--radius-card);
  text-align: center;
  justify-content: center;

}
.point__icon-container {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);

  height: 40px;
  width: 40px;
  padding: 6px;
  border-radius: var(--radius-btn);
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 5px color-mix(in srgb, var(--accent-lite) 20%, var(--lite));
}
.icon-container__pig {
  padding: 5px;
  justify-content: start;
}
.icon-container__agreement {
  justify-content: end;
}


.hero-info__to-calatog {
  background: var(--accent);
  border: none;
  color: var(--lite);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.hero-photo {
  flex: 5 1 0%;
  min-width: 700px;
  min-height: 100vh;
  min-height: 100dvh;

  display: flex;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  border-bottom-left-radius: var(--radius-section);
  border-bottom-right-radius: var(--radius-section);
  border: 2px solid var(--primary);
  background: color-mix(in srgb, var(--accent-lite) 20%, transparent);

  padding-top: 124px;
  padding-inline: var(--padd-h-block);
  overflow: hidden;

  flex-direction: column;
  align-items: center;

}
.hero-photo__photo-container {
  width: 375px;
  height: 100%;

  position: relative;

}
.hero-photo__photo {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
}
.hero-photo__stars-top {
  position: absolute;
  transform: rotate(180deg);
  right: 140;
}
.hero-photo__stars-bottom {
  position: absolute;
  left: 60px;
  bottom: 60px;
}

/*каталог*/
.catalog {
  padding-top: 0;
  background-color: color-mix(in srgb, var(--accent-lite) 20%, transparent);
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  border-radius: var(--radius-section);
  box-shadow: inset 0 0 0 2px var(--primary);
  display: flex;
  flex-direction: column;
  gap: var(--gap-v-block);
  padding-bottom: var(--padd-v-block);
}
.catalog__ttl {
  color: var(--lite);
}

/*категории*/
.catalog__filters {
  display: flex;
  flex-direction: column;
  gap: var(--gap-item);
  background: var(--primary);
  border-radius: calc(var(--radius-section) - 2px);
  padding: var(--padd-h-block);
}
.filters__category {
  display: flex;
  flex-direction: row;
  gap: var(--gap-item);
}
.category__btn {
  color: var(--lite);
  border: 2px solid var(--lite);
}
.category__btn:hover {
  background: color-mix(in srgb, var(--black) 20%, transparent);
}
.category__btn__active {
  background: var(--lite);
  color: var(--primary);
}
.category__btn__active:hover {
  background: var(--lite);
  color: var(--primary);
}

/*доп фильтры карнавальные*/
.filters__carnaval {
  display: flex;
  flex-direction: column;
  gap: var(--gap-item);
  padding-block: var(--padd-v-item);
  padding-inline: var(--padd-h-item);
  background: color-mix(in srgb, var(--black) 20%, var(--primary));
  border-radius: var(--radius-card);
}
.carnaval__sub {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--gap-item);
}
.filters__carnaval-dropdown {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--gap-small);
}

/*выпадающий список*/
.dropdown {
  position: relative;
  max-width: calc(100vh - 32px); 
  width: max-content;
}
.dropdown-toggle {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  width: max-content;
  border: none;
  background-color: var(--lite);

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start; /* Выравниваем текст по левому краю внутри кнопки */
  justify-content: center;
}
.dropdown-toggle__open {
  border: none;
  color: var(--primary);
  background-color: var(--lite);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.dropdown-toggle__ghost {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  flex-direction: row;
  gap: 4px;
  visibility: hidden;
  white-space: nowrap;
}
.dropdown-toggle__text {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
  grid-column: 1;
  grid-row: 1;
}
.dropdown__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 4px;
  z-index: 7;
  border: 2px solid var(--lite);
  background: color-mix(in srgb, var(--black) 20%, var(--primary));
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-left-radius: var(--radius-card);
  border-bottom-right-radius: var(--radius-card);
}
.dropdown__btn {
  white-space: nowrap;
  width: 100%;
  border: none;
  padding: 0;
  color: var(--subdued);
}
.arrow-sub__open {
  transform: rotate(180deg);
}
.arrow-sub__active {
  fill: var(--lite);
}
.arrow-gender__open {
  transform: rotate(180deg);
}
.arrow-gender__active {
  fill: var(--lite);
}
.arrow-size__open {
  transform: rotate(180deg);
}
.arrow-size__active {
  fill: var(--lite);
}

/*подкатегории пк*/
.carnaval__sub-pc {
  display: none;
  flex-wrap: wrap;
  flex-direction: row;
  gap: var(--gap-small);
}
.sub-pc__btn {
  border: none;
}

.sub-pc__btn{
  color: var(--subdued);
}
.sub-pc__btn:hover {
  background: color-mix(in srgb, var(--black) 20%, transparent);
}
.sub-pc__btn__active {
  background: var(--lite);
  color: var(--primary);
}
.sub-pc__btn__active:hover {
  background: var(--lite);
  color: var(--primary);
}

/*Сетка карточек*/
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-card);
  padding-inline: var(--padd-h-block);
}
.grid__card {
  background: var(--accent);
  height: auto;
  padding: var(--padd-card);
  display: flex;
  flex-direction: column;
  gap: var(--gap-item);
  justify-content: space-between;
  font-size: var(--small-txt);
  color: var(--lite);
  border-radius: var(--radius-card);
}
.card__top {
  display: flex;
  flex-direction: column;
  gap: var(--gap-item);
}
.card__img-container {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  overflow: hidden;

  -webkit-mask-image: 
  radial-gradient(circle at 0 0, transparent 18px, black 19px),
  radial-gradient(circle at 0 100%, transparent 18px, black 19px),
  radial-gradient(circle at 100% 0, transparent 18px, black 19px),
  radial-gradient(circle at 100% 100%, transparent 18px, black 19px);

  mask-image: 
  radial-gradient(circle at 0 0, transparent 18px, black 19px),
  radial-gradient(circle at 0 100%, transparent 18px, black 19px),
  radial-gradient(circle at 100% 0, transparent 18px, black 19px),
  radial-gradient(circle at 100% 100%, transparent 18px, black 19px);

  -webkit-mask-composite: source-in;
  mask-composite: intersect;
}
.card__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.card__text-group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-card-txt);
}
.card__size {
  color: var(--subdued);
}
.card__price {
  font-size: var(--card-ttl);
}
.grid__card button{
  background: var(--lite);
  font-size: var(--small-txt);
  border: none;
  padding-inline: var(--padd-h-small-btn);
  padding-block: var(--padd-v-small-btn);
}
.card__reservation {
  width: 100%;
}
.card__more {
  height: 100%;
}
.card__btn:hover {
  background: color-mix(in srgb, var(--primary) 20%, var(--lite));
}
.card__btn:active {
  background: color-mix(in srgb, var(--primary) 40%, var(--lite));
}
.card__more-span {
  font-size: 20px;
  font-family: America-XIX;
}
.card__btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}




/* Вопрос ответ*/
.rental-terms {
  background: var(--primary);
}
.rental-terms__group {
  display: flex;
  flex-direction: column;
  gap: var(--gap-item);
}
.rental-terms__question {
  border-top-left-radius: var(--radius-btn);
  border-top-right-radius: var(--radius-btn);
  border-bottom-left-radius: var(--radius-btn);
  border-bottom-right-radius: var(--radius-btn);
}
.rental-terms__question:nth-child(even) .rental-terms__btn{
  background: var(--lite);
}
.rental-terms__btn{
  width: 100%;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--accent-lite);
}
.rental-terms__btn {
  border-top-left-radius: calc(var(--radius-btn) - 2px);
  border-top-right-radius: calc(var(--radius-btn) - 2px);
  border-bottom-left-radius: calc(var(--radius-btn) - 2px);
  border-bottom-right-radius: calc(var(--radius-btn) - 2px);
}
.rental-terms__btn__active {
  border-top-left-radius: calc(var(--radius-btn) - 2px);
  border-top-right-radius: calc(var(--radius-btn) - 2px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rental-terms__arrow-container {
  height: 36px;
  width: 36px;
  background: var(--primary);
  border-radius: var(--radius-btn);
  display: flex;
  justify-content: center;
  padding-top: 4px;
}
.rental-terms__arrow-container__active {
  transform: rotate(180deg);
}
.rental-terms__question:nth-child(odd){
  background: var(--lite);
  border: 2px solid var(--accent-lite);
}
.rental-terms__question:nth-child(even){
  background: var(--accent-lite);
  border: 2px solid var(--lite);
}
.rental-terms__answer {
  padding-inline: var(--padd-h-item);
  padding-block: var(--padd-v-item);
  font-size: var(--small-txt);
}

/*Подвал*/
.footer{
  background-color: color-mix(in srgb, var(--primary), var(--black) 30%);
  font-size: var(--small-txt);
  color: var(--subdued);
  padding-block: var(--padd-v-block);
  padding-inline: var(--padd-h-block);
  display: flex;
  flex-direction: column;
  gap: var(--gap-v-group);
  margin-top: var(--gap-v-block);
}
.footer__pattern {
  --circle-size: 40px;

  display: flex;
  justify-content: center;
  height: var(--circle-size);
  overflow: hidden;
  
  margin-inline: calc(var(--padd-h-block) * -1);
  margin-top: calc(var(--padd-v-block) * -1);
  transform: translateY(-50%);

  filter: brightness(90%);
}
.footer__pattern-wrapper {
  width: var(--circle-size);
  aspect-ratio: 1/1;
}
.footer__top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 80px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  align-items: end;
}
.footer__top a, .footer__top button{
  text-decoration: none;
  text-decoration: underline;
  color: inherit;
  font: inherit;
  padding: 0;
  border: none;
}
.footer__btm {
  display: flex;
  flex-direction: column;
  gap: var(--gap-small);
  align-items: center;
}


@media (min-width: 768px) {
  /* Переменные */
  :root {
    --main-txt: 2rem;  /* 14->20 */
    --card-ttl: 1.8rem;  /* 14->18 */
    --small-txt: 1.6rem;  /* 12->16 */
    --tiny-txt: 1.2rem;  /* 12->12 */

    /* Отступы между*/
    --gap-v-block: 40px; /* 24->40 */
    --gap-v-group: 24px; /* 16->24 */

    --gap-item: 16px;  /* 8->16 */
    --gap-card: 24px;  /* 16->24 */
    --gap-small: 8px;  /* 8->8 */
    --gap-card-txt: 4px; /* 4->4 */

    /* Отступы внутрь*/
    --padd-v-header: 16px; /* 8->16 */
    --padd-h-header: 16px; /* 16->16 */

    --padd-v-block: 40px; /* 24->40 */
    --padd-h-block: 32px;  /* 16->32 */

    --padd-point: 12px; /* 8->12 */
    --padd-top-point: 24px; /* 8->24 */

    --padd-v-btn: 12px; /* 8->12 */
    --padd-h-btn: 24px;  /* 16->24 */

    --padd-v-small-btn: 8px; /* 4->8 */
    --padd-h-small-btn: 16px; /* 8->16 */

    --padd-card: 16px; /* 8->16 */

    --radius-btn: 30px;
    --radius-card: 20px; /* 10->20 */
    --radius-section: 40px;  /* 30->40 */

    /* Прочее */
    --header: 80px; /* 60->80 */
    --gap-header: 48px; /* 32->48 */
  }
  
  .hero-info {
    min-width: 600px;
  }
  .hero-photo {
    min-width: 400px;
  }
  .hero-info__points {
    flex-direction: row;
  }
  .hero-info__points {
    width: 100%;
    flex-direction: row;
  }
  .hero-info__point {
    width: 100%;
  }
  .catalog__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__pattern {
    --circle-size: 50px;
  }

  .footer{
    background-color: color-mix(in srgb, var(--primary), var(--black) 30%);
    font-size: var(--small-txt);
    color: var(--subdued);
    padding-block: var(--padd-v-block);
    padding-inline: var(--padd-h-block);
    display: flex;
    flex-direction: column;
    gap: var(--gap-v-group);
  }
  .footer__pattern {
    --circle-size: 60px;
  }
}

@media (min-width: 1024px) {
  /* Переменные */
  :root {
    --main-txt: 2rem;  /* 14->20 */
    --card-ttl: 1.8rem;  /* 14->18 */
    --small-txt: 1.6rem;  /* 12->16 */
    --tiny-txt: 1.2rem;  /* 12->12 */

    /* Отступы между*/
    --gap-v-block: 40px; /* 24->40 */
    --gap-v-group: 24px; /* 16->24 */

    --gap-item: 16px;  /* 8->16 */
    --gap-card: 24px;  /* 16->24 */
    --gap-small: 8px;  /* 8->8 */
    --gap-card-txt: 4px; /* 4->4 */

    /* Отступы внутрь*/
    --padd-v-header: 16px; /* 8->16 */
    --padd-h-header: 16px; /* 16->16 */

    --padd-v-block: 40px; /* 24->40 */
    --padd-h-block: 32px;  /* 16->32 */

    --padd-point: 12px; /* 8->12 */
    --padd-top-point: 24px; /* 8->24 */

    --padd-v-btn: 12px; /* 8->12 */
    --padd-h-btn: 24px;  /* 16->24 */

    --padd-v-small-btn: 8px; /* 4->8 */
    --padd-h-small-btn: 16px; /* 8->16 */

    --padd-card: 16px; /* 8->16 */

    --radius-btn: 30px;
    --radius-card: 20px; /* 10->20 */
    --radius-section: 40px;  /* 30->40 */

    /* Прочее */
    --header: 80px; /* 60->80 */
    --gap-header: 48px; /* 32->48 */
  }
  .hero {
    min-height: 66vh;
    min-height: 66dvh;
  }
  .carnaval__sub {
    display: none;
  }
  .carnaval__sub-pc {
    display: flex;
  }
  .catalog__grid {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap-card);
  }
  .footer__pattern {
    --circle-size: 60px;
  }
}